body {
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: url("images/bg-html.jpg");
}

.game-intro {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding: 0% 10%;
  width: 50vw;
}

h1 {
  margin-top: 50px;
  margin-bottom: 0;
  color: #ebb02c;
  font-family: "Faster One", cursive;
  font-size: 90px;
  text-shadow: black;
}

.run {
  margin-top: 10px;
}

.instructions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.paragraph {
  color: white;
  margin: 0;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
  font-family: "Verdana";
}

.image-logo {
  width: 230px;
  height: 210px;
}

.logo-img {
  width: 350px;
}

#start-button {
  width: 280px;
  height: 100px;
  margin-bottom: 30px;
  margin-top: 30px;
}

#game-area {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  float: left;
  padding: 20px 0px;
}

.key {
  width: 190px;
  height: 100px;
}

canvas {
  margin-top: 50px;
  background-color: black;
}


@media (max-width: 1056px) {
  body {
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url("images/bg-html.jpg");
  }

  .instructions {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

}